.values {
  display: flex;
  padding-block: 4rem;
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: space-around;
  gap: 2rem;
  align-items: flex-start;
}

.values > * {
  flex: 1;
  min-height: 300px;
}

.values > *:nth-child(1) {
  flex: 1.5;
}

.values > *:nth-child(2) {
  flex: 2;
}

.values > *:nth-child(3) {
  flex: 1.5;
}

@media (max-width: 800px) {
  .values {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .values > * {
    max-width: 100%;
    width: 100%;
  }
}
