.header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.header__logo {
  display: block;
  padding: 1rem;
  position: fixed;
  right: 0;
  mix-blend-mode: difference;
}

.header__logo img {
  display: block;
  scale: calc(var(--size) * 1%);
  transform-origin: right top;
  transition: all 100ms ease-out;
}

.header__tag {
  margin-top: auto;
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Recoleta', serif;
  padding: 2rem 0;

  list-style: none;
}
